# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e4c0e320e29cf02ab2478c9dc2c13c502eff6c862d521dc028f1ed9194885927c6974aff5c7319479e465894bfc7e96b6aa7647b3b8a4c6a380fb62e5f84d954

test:
  secret_key_base: 15b62e10aa4818edee97ef565359bb7403e22a858b596af8dde8215fe425842c9b3eca8d6a6a1a5b12faf84b2a898e896be6055e69a51abbe60203f4fb06c236

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
