<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= t(".content",
      id: link_to(t("sample"), root_path, class: "logo")).html_safe  %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= t(".content",
          id: link_to(t("home"), root_path)).html_safe %></li>
        <li><%= t(".content",
          id: link_to(t("help"), help_path)).html_safe %></li>
        <li><%= t(".content",
          id: link_to(t("log_in"), "#")).html_safe %></li>
      </ul>
    </nav>
  </div>
</header>
